.flex-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 450px;
    grid-template-areas:
    ". a a ."
    ". a a .";
}

.text {
    grid-area: a;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    background: lightpink;
    padding: 5px;
    font-size: 50px;
}