

.block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 250px;
  grid-template-areas:
    ". a a ."
    ". a a .";
}

.text {
  grid-area: a;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  background: lightpink;
  border: 1px solid rebeccapurple;
  border-radius: 15px;
  padding: 5px;
  font-size: 50px;
}

.area-for-text {
  display: flex;
  flex-direction: column;
  text-decoration: rebeccapurple;
  font-size: large;
  font-style: italic;
}

textarea {
  height: 100px;
}

table {
  border-collapse: collapse;
  width: 200px;

  td {
    background-color: aquamarine;
    border: 1px solid black;
    padding: 3px;
    text-align: center;
    font-weight: normal;
  }

  tr {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
  }
}
